BOT_TOKEN=
TELEGRAM_BOT_TOKEN=
ADMIN_ID=
DATABASE_URL=
STORE_NAME=STORE DN CAR
SUPPORT_USERNAME=@STORE_DN_CAR_SUPPORT
CHANNEL_URL=https://t.me/STORE_DN_CAR
BEP20_WALLET=
TRC20_WALLET=
BSCSCAN_API_KEY=
